/* "nav-toolbar uses display: flex, so thid will fill remained soace */
.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-menu-item {
  text-align: right;
}

.close-button {
  text-align: left;
  outline: none;
}

.app-side-nav {
  height: 100%;
  overflow: hidden;
}
