<mat-toolbar color="primary">
	<button mat-icon-button (click)="sidenav.toggle()" style="outline: none;">
		<mat-icon>menu</mat-icon>
	</button>
	<!-- <span class="toolbar-spacer"></span> -->
	<span>Accountant App</span>
</mat-toolbar>

<mat-sidenav-container class="app-side-nav" [hasBackdrop]="mobileQuery.matches ? true : false">
	<mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" position="end"
		[opened]="mobileQuery.matches ? false : true">
		<mat-nav-list>
			<a class="close-button" (click)="sidenav.toggle()" routerLinkActive="active">
				<mat-icon>arrow_forward</mat-icon>
			</a>
			<a mat-list-item routerLinkActive="active" routerLink="/reports">
				<mat-icon>assignment</mat-icon>
				<span>דוחות</span>
			</a>
			<a mat-list-item routerLinkActive="active" routerLink="/customers">
				<mat-icon>people</mat-icon>
				<span>לקוחות שלי</span>
			</a>
			<a mat-list-item routerLinkActive="active" routerLink="/monthlyreport">
				<mat-icon>note_add</mat-icon>
				<span>הזנת דיווח חודשי ללקוח</span>
			</a>
			<a mat-list-item routerLinkActive="active" routerLink="/customerdetails">
				<mat-icon>account_box</mat-icon>
				<span>תחזוקת נתוני הלקוח</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>


		<div class="content-div">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>